main> p {
  margin: 30px;
  font-size: 22px;
}

.right {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.left {
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-style: solid;
}
.top {
  border-style: dashed;
  flex-direction: row;
  gap:20%;
}
.buttom {
  border-style: dashed;
}
main{
  height: 90vh;
  gap: 18%;
  flex-direction: column;

}